body {background-color: rgb(199, 213, 199);
	text-align: center;
	font-family: "Rockwell";
	margin-top: 50px;}

	h1 {color: #003300;
		padding: 25px 0px 0px 0px;}

		a {color: white;}

		#social-buttons {
			margin-top: 50px;
			margin-bottom: 30px;}

			.btn-twitter {

				background-color: #00acee;
				border-color: #009ad5;}

				.btn-facebook {
					background-color: #4868ac;
					border-color: #314776;}


					.jumbotron {
						padding-top: 50px;
						margin-bottom: 100px;
						min-height: 300px;
						max-width: 1500px;
						background-image: url('./images/hopscotch.jpg');
						background-attachment: fixed;
						background-size: 75%;
						background-repeat: repeat-x;
						background-position: center;}